@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "This is my first website";
}
<!--Paragraph that will describe what the Calculator will do-->
<p style="display:inline-block; border-bottom: 3px solid black">Calculate your Final Grade:</p>
<!--Form that will have inputs for each type of grade type in IS 413-->
<form>
    <!--Assignments-->
    <label>Assignments:</label>
    <input id="assignments" />
    <br /><br />
    <!--Group Project-->
    <label>Group Project:</label>
    <input id="groupProjects" />
    <br /><br />
    <!--Quizzes-->
    <label>Quizzes:</label>
    <input id="quizzes" />
    <br /><br />
    <!--Exams-->
    <label>Exams:</label>
    <input id="exams" />
    <br /><br />
    <!--Intex-->
    <label>INTEX:</label>
    <input id="intex" />
    <br /><br />
    <!--Button that will submit the form -->
    <input type="submit" value="Submit" id="submitButton" /><br /><br /><br />
</form>