@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "This is my first website";
}

    <div class="mainBody">
        <img src="~/img/JamieHeadshot.jpeg" />
        <p style="padding-left:300px;padding-right: 300px;">In IS 413 am hoping to learn how to use react. Last semester I was really looking forward to learning how to use React and so I am super excited to use it this semester! I am also looking forward to learning C#, it is a coding language that I have wanted to learn  so that I could add it too my tool belt to help me in my future career! </p>
        <p>Top 3 jobs that I am most interested in pursuing</p>
        <ol>
            <li>Technology Consulting: I have an internship with PwC this summer doing this :)</li>
            <li>Owning my own consulting firm</li>
            <li>Freelance web developer</li>
        </ol>
        <br />

    </div>
